nav > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #fcc600;
  background-color: #f1f1f1;
  transition: background-color .3s;
}

nav > ul > li:hover { 
  background-color: #a0a0a0;
}

a {
  text-decoration: none;
  color: inherit;
}

.showcase{
  background: url('dog.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  height: 450px;
}

.h1{
  font-size: 30px;
  background-color: black;
  width: 400px;
  height: 50px; 
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10px; 
}

.tile{
  width: 300px;
  float: left;
  text-align: center;
  margin: 43px; 
}

.transport{
  font-size: 40px;
  margin-bottom: 20px;
}

footer > .table {
  width: 100%;
  background-color: #f3f3f3;
}
