@import url("c:/Users/olaja/Desktop/Programowanie/task1 - menu/menu.css");
@import url("C:/Users/olaja/Desktop/Programowanie/task5 - footer/footer.css");

.showcase{
  background: url('dog.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  height: 450px;
}

.h1{
  font-size: 30px;
  background-color: black;
  width: 400px;
  height: 50px; 
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10px; 
}

.tile{
  width: 300px;
  float: left;
  text-align: center;
  margin: 43px; 
}

.transport{
  font-size: 40px;
  margin-bottom: 20px;
}
