footer{
  background-color: #4e4e4e;
  color: #ffffff;
  text-align: center;
  position: fixed;
  font-family: 'Lato', sans-serif;
}

.maxim{
  width: 33%;
  float: left;
}

.motto{
  background-position: center;
  background-size: cover;
  color: #ada7a7;
  padding-left: 20px;
}

.footer-list{
  width: 33%;
  float: left;
  font-size: 20px;
  list-style-position: inside;
  
}
.footer-list-link{
  text-decoration: none;
  color: #ffffff;
}

.media{
  width: 33%;
  float:left
}

.newsletter{
  font-size: 20px;
  padding-right: 20px;
}

.newsletter-btn{
    background-color: #ca9911;
    font-size: 20px;
    border: none;
}

.social-icon{ 
  

}
.social-icon-style{
  margin: 20px;
  font-size: 30px;
}

.foot{
  clear: both;
  height: 10%;
  border: solid 2px #636363;
}
