nav > ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #fcc600;
    background-color: #f1f1f1;
    transition: background-color .3s;
}

nav > ul > li:hover { 
    background-color: #a0a0a0;
}

a {
    text-decoration: none;
    color: inherit;
}

.form {
    background-color: #f3f3f3;
    border-style: solid;
    margin: 50px;
    padding: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.textarea {
    margin-top: 20px;
    width: 300px;
    height: 100px;
}

.h2 {
    font-size: 20px;
}

footer > .table {
    width: 100%;
    background-color: #f3f3f3;
}
