@import url("c:/Users/olaja/Desktop/Programowanie/task1 - menu/menu.css");
@import url("C:/Users/olaja/Desktop/Programowanie/task5 - footer/footer.css");

.form {
  background-color: #f3f3f3;
  border-style: solid;
  margin: 50px;
  padding: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.textarea {
  margin-top: 20px;
  width: 300px;
  height: 100px;
}
.h2 {
  font-size: 20px;
}
