/* @media (min-width: 768px) */

.navbar{
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2.5%;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}
.logo{
  font-size: 40px;
  padding-left: 5%;
  width: 40%;
  float: left;
}
.menu{
  display: inline-block;
  width: 50%;
  list-style: none;
  padding-top: 2%;
}
.menu-item{
  float: left;
  transition: background-color .3s;
  margin-right: 4%;
}
.menu-item-link{
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 5px;
}
.menu-item-link:hover{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  transition: background-color .3s;
}
.active{
  background-color: #f0a652;
  color: rgba(0, 0, 0, 0.5);
}
