.menu {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.menu-item {
  display: inline-block;
  padding: 3px 5px;
  border: 2px solid #f8af10;
  background-color: #f1f1f1;
  transition: background-color .3s;
}
.menu-item:hover { 
  background-color: #a0a0a0;
  color: #000000;
}
.menu-item-link {
  text-decoration: none;
  color: inherit;
}
.active {
  background-color: #424242; 
  color: #ffffff;
}
